body {
    margin: 0;
    padding: 0;
    background-color: #111;
    width: 100vw;
    height: 100vh;
    display: grid;
}

canvas {
    background-color: #eee;
    justify-self: center;
    align-self: center;
}